/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
$line-height-mobile: 2.4rem;
$line-height-desktop: 2rem;
$half-line-height: #{$line-height-mobile / 2rem}rem;

/* global box-sizing */
*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html element 62.5% font-size for REM use */
html {
  box-sizing: border-box;
  @include font-smoothing;
  @include transition(width .3s, transform .3s, background-color .2s);
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;

  //@include breakpoint(desktop){
  //  font-size: 78.125%;
  //}
}

body {
  @include font-size(1.6);
  //background-image: url('http://basehold.it/i/24'); // 24px baseline background-image: url(http://basehold.it/i/24/ff0000); // with Hex colour background-image: url(http://basehold.it/i/24/255/0/0); // with RGB colour
  position:relative;
  color: $text-color;
  height: 100%;
  line-height: $line-height-mobile;
  margin: 0;
  min-height: 100%;
  font-weight: 400;
  z-index: 544;
  overflow-x: hidden; // Isotope fix on gallery page

  @include breakpoint(tablet){
    z-index: 768;
  }
  @include breakpoint(laptop){
    z-index: 992;
  }
  @include breakpoint(desktop){
    z-index: 1200;
  }
  @include breakpoint(desktopXL){
    z-index: 1600;
  }
}
/* clear */
.clear::before,
.clear::after {
  content: ' ';
  display: table;
}

.clear::after {
  clear: both;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.small-p {
  p {
    @include font-size(1.4);
  }
}

hr{
  height:4.8rem;
  margin-bottom: $line-height-mobile;
  position: relative;
}

aside,
p,
address
{
  margin:0;
  padding: 0 0 $line-height-mobile;
}

address,
pre
{
  line-height: $line-height-mobile;
}

pre{
  padding:1.2rem;
  margin:0 0 $line-height-mobile;
}

ol,
ul
{
  margin:0 0 0 2rem;
  padding: 0 0 $line-height-mobile;
}

ul ul,
ol ol{
  padding:0;
}

form{
  padding:$line-height-mobile 0;
}
label{
  margin-top:-2px;
  margin-bottom: $line-height-mobile;
}

table {
  border-radius: 2px;
  border-collapse:separate;
  border-spacing:0;
  margin-bottom: $line-height-mobile;
  width:100%;

  th{
    font-weight: 500;
    text-align: left;
    padding:0 .6rem;
  }

  td{
    padding:0 .6rem;
  }
}

dd,
dt
{
  @include line-height(2.4);
}

blockquote {
  @include font-size(1.7);/* =17px */
  margin: 3rem 0;
  padding: 2.4rem 1.2rem;
  border-left: 0;
  border-top: 1px solid $lightest-grey;
  border-bottom: 1px solid $lightest-grey;
  color: $primary-color;

  p {
    padding:0;
    @include font-size(3.2);
    @include line-height(4.8);
    font-weight: 900;
  }

  cite{
    @include font-size(1.3);
    a{
      @include font-size(1.3);
      @include line-height(2.4);
      display:inline;
      color: $grey;
      font-weight: 400;
    }
  }
}

a {
  color: $primary-color;
  text-decoration: none;
  @include transition(color .3s, background .3s, border .3s);
}

a:hover {
  color: $primary-color;
  text-decoration: none;
}

a:focus {
  color: $primary-color;
  text-decoration: none;
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input, .dhvc-form-input > input  {
  border: 0 !important;
  width: 100% !important;
  border-radius: 50px !important;
  padding: .9rem 2.5rem .9rem !important;
  background: lighten($lightest-grey, 7%);
  color: $grey !important;
  font-size: 12px !important;
  font-size: 1.2rem !important;
  @include placeholder($grey);
  @include transition(all .2s);

  &:focus {
    outline: 0;
    -webkit-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
  }
  &:hover {
    -webkit-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
  }
}

input[type="submit"] {
  display: inline-block;
  color: $white;
  width: auto;
  padding: .9rem 3rem;
  text-transform: uppercase;
  font-weight: 600;
}
textarea {
  @include font-size(1.2);
  @include placeholder($grey);
  width: 100%;
  background: lighten($lightest-grey, 7%);
  border: 0;
  border-radius: 5px;
  padding-left: 4.5rem;
  padding-top: 1rem;
  @include transition(all .2s);
  &:focus {
    outline: 0;
    -webkit-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
  }
  &:hover {
    -webkit-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
    box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.2);
  }
}

select {
  width: 100%;
}

//Sidebar
aside {
  h1 {
    @include font-size(2.8);
  }
}

details,
figcaption,
footer,
header,
hgroup,
menu,
nav,
summary
{
  padding:0 2rem;
}

.neat-search {
  position: relative;
  label{
    display: none;
  }
  &:before {
    z-index: $content;
    font-family: 'FontAwesome';
    content:"\f002";
    top:50%;
    @include transform(translateY(-50%));
    right: 20px;
    position: absolute;
    color: $grey;
  }
}

.span-excerpt{
  color: $light-grey;
}

.divider-svg{
  position: relative;
}
