/*------------------------------------*\
    ISOTOPE GALLERY
\*------------------------------------*/

.full-width-container {
  margin: 0 auto;
  padding:0;
}

.gallery-isotope {
  height: 850px;
  @include transition(transform .8s, height .2s .1s);
  .grid-sizer,
  .gallery-item {
    width: 100%;
    top:0;
    left:0;
    opacity: 0;

    //on activate
    &.active{
      opacity: 1;
    }
  }
  .gallery-item {
    float: none;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    will-change: width;

    span {
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      max-width: none;
      position: absolute;
      min-height: 100%;
      z-index: 2;
      @include transform(translateY(0%));
      @include transition(all .3s);
    }

    h5 {
      position: absolute;
      bottom: 0;
      left: 20px;
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: $white;
      z-index: 5;
      @include transition(all .3s);
      @include transform(translateY(0));
    }

    .subtext {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 16px;
      font-weight: 400;
      color: $white;
      z-index: 5;
      line-height: 22px;
      padding-right: 20px;
      @include transition(all .3s);
      @include transform(translateY(100px));
    }

    i{
      position: absolute;
      bottom:20px;
      right: 20px;
      color: $white;
      z-index: 6;
      @include transform(translateX(-20px));
      @include transition(all .3s $ease-in-out-circ);
      opacity: 0;
    }

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: $black;
      opacity: 0;
      z-index: 4;
      border-radius: 50%;
      //@include transform(scale(.1));
      @include transform(translateY(100%));
      @include transition(all .3s .2s $ease-in-out-circ);
    }

    .overlay2{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: $primary-color;
      z-index: 3;
      //@include transform(scale(.1));
      @include transform(translateY(100%));
      @include transition(all .3s $ease-in-out-circ);
    }

    img {
      width: 100%;
    }

    a {
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      cursor: pointer;

      @include breakpoint(laptop){
        &:hover{
          h5 {
            @include transform( scale(.5) translateY(-36px) translateX(-80px));
          }
          i {
            @include transform(translateX(0));
            opacity: 1;
          }
        }
      }
    }
  }

  .gallery-item{
    @include breakpoint(laptop){
      &.width1{
        a{
          &:hover {

            .overlay {
              @include transform(scale(1));
              opacity: 1;
              border-radius: 0;
              @include transform(translateY(60%));
            }
            .overlay2 {
              @include transform(scale(1));
              opacity: .7;
              border-radius: 0;
              @include transform(translateY(50%));
            }
            .subtext {
              @include transform(translateY(0));
            }
          }
        }
      }
      &.width2:not(.height2){
        a{
          &:hover {
            .overlay {
              @include transform(scale(1));
              opacity: 1;
              border-radius: 0;
              @include transform(translateY(65%));
            }
            .overlay2 {
              @include transform(scale(1));
              opacity: .7;
              border-radius: 0;
              @include transform(translateY(55%));
            }
            .subtext {
              @include transform(translateY(0));
            }
          }
        }
      }
      &.width2, &.height2{
        a{
          &:hover {

            .overlay {
              @include transform(scale(1));
              opacity: 1;
              border-radius: 0;
              @include transform(translateY(80%));
            }
            .overlay2 {
              @include transform(scale(1));
              opacity: .7;
              border-radius: 0;
              @include transform(translateY(75%));
            }
            .subtext {
              @include transform(translateY(0));
            }
          }
        }
      }
    }
  }
}

.gallery-filter-container {
  display: table;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.filter-group {
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  .filter-item {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    transition: color .3s;

    span {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      height: 3px;
      background: $primary-color;
      transition: all .3s;
    }

    &:hover {
      color: $primary-color;
      span {
        width: 100%;
      }
    }
    &.selected {
      color: $primary-color;
      span {
        width: 100%;
      }
      //border-bottom: 3px solid $primary-color;
    }
  }
}
.full-width-gallery, .width-contained {
  .gallery-item {
    float: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    img {
      width: 100%;
    }
    &.width2 {
      width: 100%;
    }
    &.height2 {
      padding-bottom: 100%;
    }
  }
  .grid-sizer {
    width: 100%;
  }
}


.full-width-gallery {
  span {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: none;
    position: absolute;
    min-height: 100%;
  }
}
.gallery-3-grid,
.gallery-4-grid,
.gallery-5-grid {
  .gallery-item {
    float: left;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    a {
      display: block;
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      img {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }
  .grid-sizer {
    width: 100%;
  }
  .gallery-item {
    width: 100%;
  }
}

.gallery-preview{
  .gallery-item{
    opacity: 1;
  }
}

// Displays greater than 768px
@include breakpoint(tablet) {
  .gallery-isotope {
    .filter-group {
      padding-top: 80px;
    }
  }

  .full-width-gallery, .width-contained {
    .gallery-item {
      float: left;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .grid-sizer {
      width: 50%;
    }
    .gallery-item {
      width: 50%;
      padding-bottom: 50%;
      &.width2 {
        width: 100%;
      }
      &.height2 {
        padding-bottom: 100%;
      }
    }
  }
  .gallery-3-grid,
  .gallery-4-grid,
  .gallery-5-grid {
    .grid-sizer {
      width: 50%;
    }
    .gallery-item {
      width: 50%;
    }
  }
}

// Displays greater than 992px
@include breakpoint(laptop) {
  .full-width-gallery, .width-contained {
    .grid-sizer {
      width: 33.333333333333%;
    }
    .gallery-item {
      width: 33.333333333333%;
      padding-bottom: 33.333333333333%;

      &.width2 {
        width: 66.666666666666%;
      }
      &.height2 {
        padding-bottom: 66.666666666666%;
      }
    }
  }
  .gallery-3-grid,
  .gallery-4-grid,
  .gallery-5-grid {
    .grid-sizer {
      width: 33.33333333333%;
    }
    .gallery-item {
      width: 33.33333333333%;
    }
    &.gallery-preview-grid{
      .grid-sizer {
        width: 50%;
      }
      .gallery-item {
        width: 50%;
      }
    }
  }

  .width-contained {

    .grid-sizer {
      width: 33.333333333333%;
    }
    .gallery-item {
      width: 33.333333333333%;
      padding-bottom: 33.333333333333%;

      &.width2 {
        width: 66.666666666666%;
      }
      &.height2 {
        padding-bottom: 66.666666666666%;
      }
    }
  }
}

// Displays greater than 1200px
@include breakpoint(desktop) {
  .gallery-isotope{
    .filter-group {
      padding-top: 30px;
    }
  }

  .full-width-gallery, .width-contained {
    .grid-sizer {
      width: 25%;
    }
    .gallery-item {
      width: 25%;
      padding-bottom: 25%;
    }
    .gallery-item.width2 {
      width: 50%;
    }
    .gallery-item.height2 {
      padding-bottom: 50%;
    }
  }
  .gallery-4-grid,
  .gallery-5-grid {
    .grid-sizer {
      width: 25%;
    }
    .gallery-item {
      width: 25%;
    }
    &.gallery-preview-grid{
      .grid-sizer {
        width: 25%;
      }
      .gallery-item {
        width: 25%;
      }
    }
  }
}

// Displays greater than 1600px
@include breakpoint(desktopXL) {
  .full-width-gallery {

    .grid-sizer {
      width: 20%;
    }
    .gallery-item {
      width: 20%;
      padding-bottom: 20%;
      &.width2 {
        width: 40%;
      }
      &.height2 {
        padding-bottom: 40%;
      }
    }
  }
  .gallery-5-grid {
    .grid-sizer {
      width: 20%;
    }
    .gallery-item {
      width: 20%;
    }
  }
}