/*------------------------------------*\
    GENERAL LAYOUT CLASSES
\*------------------------------------*/

.sprout-blocked-container{
  max-width: 1200px;
  padding: 0 15px;
  display: table;
  width: 100%;
  position: relative;
  margin: 0 auto;
  @include breakpoint(tablet){
    padding: 0 35px;
  }
  @include breakpoint(laptop){
    padding: 0 15px;
  }
}

.sprout-container-primary {
  margin: 35px auto;
  margin: 3.5rem auto;
  @include breakpoint(tablet){
    margin: 90px auto;
    margin: 9rem auto;
  }
  @include breakpoint(laptop){
    margin: 110px auto;
    margin: 11rem auto;
  }

  .inner-page-wrapper & {
    margin: 35px auto 0;
    margin: 3.5rem auto 0;
    @include breakpoint(tablet){
      margin: 90px auto 0;
      margin: 9rem auto 0;
    }
    @include breakpoint(laptop){
      margin: 100px auto 0;
      margin: 10rem auto 0;
    }
  }
}

.sprout-container-single {
  margin-top: 5px;
  margin-top: 5rem;
}

.sprout_sidebar {
  max-width: 262px;
  margin:0 auto;
  position: relative;
}

.col-third{
  @include breakpoint(tablet){
    margin-left: 0;
  }
  @include breakpoint(laptop) {
    max-width: 374px;
    margin-left: 0;
    padding-right:15px !important;
  }
  @include breakpoint(desktop){
    margin-right: 0;
    float: right !important;
    padding-right:0 !important;
  }
}
.col-middle {
  @include breakpoint(laptop){
    padding-right: 15px !important;
  }
  @include breakpoint(desktop){
    max-width: 580px;
    margin: 0 auto;
  }
}

.sprout-contain{
  margin: 0 auto;
  @include breakpoint(tablet){
      max-width: 750px;
  }
  @include breakpoint(laptop){
    max-width: 970px;
  }
  @include breakpoint(desktop){
    max-width: 1170px;
  }
}

.sprout-container-tablet {
  max-width: 768px;
  margin: 0 auto;
  float: none !important;
}

.contain__1200{
  position: relative;
  z-index: $content;

    @include breakpoint(tablet){
      max-width: 768px;
      margin: 0 auto;
    }

    @include breakpoint(laptop){
      max-width: 970px;
      margin: 0 auto;
    }

    @include breakpoint(desktop){
      max-width: 1200px;
      margin: 0 auto;
    }
}

.contain__1200--inner{
      margin: 0 auto;

    @include breakpoint(desktop){
      margin: 0 15px;
    }
}

.content{
  position: relative;
  z-index: 10;
}

.container-divider{
  position: absolute;
  bottom: -10px;
  left:0;
  width: 100%;
}
.vc_row{
  z-index: $content;
}

//INLINE BLOCK MODULE

.inline__block {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
  @include first(1){
    margin-top: 3rem;
  }
  @include last(1){
    margin-bottom: 0;
  }

  @include breakpoint(tablet){
    clear: both;
    display: table;
  }

  @include breakpoint(laptop){
    @include first(1){
      margin-top: 0;
    }
  }

}

.inline__image {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 250px;
  max-height: 166px;

  @include breakpoint(tablet){
    display: inline-block;
    float: left;
    overflow: hidden;
  }
}

.inline__desc{
  position: relative;
  display: block;

  h4{
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }

  @include breakpoint(tablet){
    display: table;
    padding-left: 2rem;
    text-align: left;

    h4{
      padding-top: 0;
      padding-bottom: 1.4rem;
    }
  }

}