/* ----------------------------------------------------------------------------
 * Layout
 * ------------------------------------------------------------------------- */
.et-blocked-container{
  max-width: 1200px;
  padding: 0 15px;
  display: table;
  width: 100%;
  position: relative;
  margin: 0 auto;
  @include breakpoint(tablet){
    padding: 0 35px;
  }
  @include breakpoint(laptop){
    padding: 0 15px;
  }
}
.et-container-primary {
  margin-top: 35px;
  margin-top: 3.5rem;
  @include breakpoint(tablet){
    margin-top: 70px;
    margin-top: 7rem;
  }
}

.et-container-single {
  margin-top: 5px;
  margin-top: 5rem;
}

.et_sidebar {
  max-width: 262px;
  margin:0 auto;
  position: relative;
}

.col-third{
  @include breakpoint(tablet){
    margin-left: 0;
  }
  @include breakpoint(laptop) {
    max-width: 320px;
    margin-left: 0;
    padding-right:15px !important;
  }
  @include breakpoint(desktop){
    margin-right: 0;
    float: right !important;
    padding-right:0 !important;
  }
}
.col-middle {
  @include breakpoint(laptop){
    padding-right: 15px !important;
  }
  @include breakpoint(desktop){
    max-width: 580px;
    margin: 0 auto;
  }
}

.inner-page-wrapper {

}

.et-contain{
  margin: 0 auto;
  @include breakpoint(tablet){
      max-width: 750px;
  }
  @include breakpoint(laptop){
    max-width: 970px;
  }
  @include breakpoint(laptop){
    max-width: 1170px;
  }
}

.content{
  position: relative;
  z-index: 10;
}