/* ----------------------------------------------------------------------------
 * Layout
 * ------------------------------------------------------------------------- */

.et-container-primary {
  margin-top: 24px;
  margin-top: 2.4rem;
  @include breakpoint(tablet){
    margin-top: 120px;
    margin-top: 12rem;
  }
}

.et-container-single {
  margin-top: 5px;
  margin-top: 5rem;
}

.et_sidebar {
  max-width: 262px;
  margin:0 auto;
  position: relative;
}

.col-third{
  @include breakpoint(tablet){
    margin-left: 0;
  }
  @include breakpoint(laptop) {
    max-width: 320px;
    margin-left: 0;
  }
  @include breakpoint(desktop){
    margin-right: 0;
    float: right !important;
  }
}
.col-middle {
  @include breakpoint(desktop){
    max-width: 580px;
    margin: 0 auto;
    padding-right: 15px;
  }
}