.et-single {
  padding: 0 2.4rem;

  @include breakpoint(tablet){
    padding: 0;
  }

  .navigation{
    padding: 0;
    clear: both;
    margin: 0 0 4rem;
    display: table;
    width: 100%;
  }

  .nav-previous, .nav-next {
    width: 100%;
    display: table;
    position: relative;
    @include font-size(1.4);
    margin-bottom: 2.4rem;

    @include breakpoint(tablet){
      width: 50%;
      float: left;
    }

    &.no-prev{
      width: 100% !important;
    }

    .text{
      max-width: 300px;
      margin-top:24px;
      position: relative;
      display: inline-block;
      &:before {
        position: absolute;
        top: -24px;
        color: $grey;
        @include font-size(1.2);
        font-weight: 600;
      }
    }

    a{
      color:$black;
      display: inline-block;
      &:hover {
        img{
          -webkit-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.48);
          -moz-box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.48);
          box-shadow: 0px 12px 45px -6px rgba(0,0,0,0.48);
        }
      }
    }
  }

  .nav-next {
    text-align: right;
    .text {
      &:before {
        right: 0;
        content: 'Next Post';
      }
    }
  }
  .nav-previous {
    .text{

      &:before {
        left:0;
        content: 'Previous Post';
      }
    }
  }
;

  .img-prev, .img-next{
    float: left;
    margin-right: 10px;
    img {
      @include transition(all .2s);
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
  }

  .img-next {
    float: right;
    margin-left: 10px;
  }

  // Span links
  .prev, .next {
    color: $grey;
    display: block;
    font-weight: 600;
    @include font-size(1.2);
  }

  .next {
    text-align: right;
  }

}

.et-single__meta {
  margin-bottom: 2.4rem;
}

.et-single__tags {
  border-top: 1px solid $lightest-grey;
  margin-top: 3rem;
  padding-top: 4rem;
}

.et-single-social {
  border: 1px solid $grey;
  border-radius: 100px;
  background: $white;
  display: inline-block;
  position: relative;
  margin: 3rem 0;

  h6 {
    margin:0;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    left:15px;
    text-transform: uppercase;
    @include font-size(1.1);
    display: inline-block;
    padding:0 2.4rem 0 0;
  }

  a{
    color: $black;
    margin:0 1.8rem;
    padding:0;
    &:first-of-type{
      margin-left:6rem;
    }

  }
}

.et-single-social__container{
  padding:.75rem 0;
}



