@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0px, 0, 0);;
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(100px, 0, 0);;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
}

.m-scene {
  @include breakpoint(tablet){
    /** Basic styles for an animated element */
    .scene_element {
      animation-duration: 0.25s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
    }

    /** An element that fades in */
    .scene_element--fadein {
      animation-duration: .5s;
      animation-delay: .3s;
      animation-name: fadeIn;
    }

    /** An element that fades in and slides up */
    .scene_element--fadeinup {
      animation-name: fadeInUp;
      animation-delay: .4s;
    }

    /** An element that fades in and slides from the right */
    .scene_element--fadeinright {
      animation-name: fadeInRight;
      animation-fill-mode: both;
      animation-delay: .5s;
    }

    /** An element that fades in and slides from the left */
    .scene_element--fadeinleft {
      animation-name: fadeInLeft;
      animation-fill-mode: both;
      animation-delay: .5s;
    }

    /** Reverse "exit" animations */
    &.is-exiting {
      .scene_element {
        //animation-direction: alternate-reverse;
      }
      .scene_element--fadeinright {
        animation-name: fadeOutRight;
        animation-delay: .3s;
        animation-fill-mode: both;
      }
      /** An element that fades in and slides up */
      .scene_element--fadeinup {
        animation-delay: .3s;
        animation-name: fadeInDown;
      }
      .scene_element--fadein {
        animation-duration: .5s;
        animation-name: fadeOut;
        animation-delay: .3s;
      }
      .scene_element--fadeinleft {
        animation-name: fadeOutLeft;
        animation-fill-mode: both;
        animation-delay: .5s;
      }
    }
  }
}