/*------------------------------------*\
    FEATURE BLOG COMPONENT
\*------------------------------------*/

.blog-primary-wrapper {
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
  box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);

  @include breakpoint(tablet){
      width: 95%;
  }
}

.blog-container {
  position: relative;

}

.blog-primary-content {

  .title{
    padding-top: 0;
    line-height: 24px;
    line-height: 2.4rem;

    a{
      @include font-size(2.4);
      color: $white;
      font-weight: 600;
    }

    @include breakpoint(tablet){
      line-height: 48px;
      line-height: 4.8rem;
        a{
          @include font-size(4.2);
        }
    }
    @include breakpoint(laptop){
      line-height: 65px;
      line-height: 6.5rem;
      a{
        @include font-size(6.2);
      }
    }

  }

  .excerpt{
    color: $white;

    .moretag{
      display: none;
    }
    @include breakpoint(laptop){
      @include font-size(1.8);
      line-height: 28px;
      line-height: 2.8rem;
    }
  }

  .moretag{
    margin-top: 3.4rem;
  }
  
  @include breakpoint(tablet){
      width: 50%;
      float: left;
      display: table;
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      left: 30px;
  }
  @include breakpoint(laptop){
    left:60px;
  }
}

.blog-primary-inner {
  padding: 3rem 2rem;
  display: table;

  @include breakpoint(tablet){
    padding: 9rem 0 9rem 3rem;
    display: table;
    width: 100%;
  }

  @include breakpoint(laptop){
    padding: 10rem 0 10rem 3rem;
    display: table;
    width: 100%;
  }
}

.blog-feature-article, .blog-feature-cap {
  border-bottom: 1px solid $lightest-grey;
}

// White container floater
.blog-stories-container {
  visibility: hidden;
  display: none;
  -webkit-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
  box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);

  background: $white;
  @include breakpoint(tablet){
    visibility: visible;
    display: table;
    float: right;
    width: 40%;
    position: relative;
    //left: 5%;
    right: -5%;
  }
  @include breakpoint(laptop){
    float: right;
    width: 40%;
  }

}

.blog-feature-cap {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  @include font-size(1.4);
  font-weight: 600;
  background: $lighter-grey-hover;

  @include last(1){
    border-bottom: 0;
  }

  a{
    color: $black;
  }

  @include breakpoint(tablet){
    @include font-size(1.2);
    padding: 1rem;
  }
  @include breakpoint(laptop){
    @include font-size(1.4);
    padding: 2rem;
    font-weight: 400;
  }

}

// Sub articles
.blog-feature-article{

  .article-title{
    @include font-size(2.4);
    line-height: 2.4rem;
    padding-bottom: 2.4rem;
    font-weight: 600;
    color: $dark-grey;
  }

  .moretag{
    border-color:$black !important;
    color: $black !important;
  }

  a{
    padding: 2rem;
    display: block;
    width: 100%;
    height: 100%;
  }

  @include breakpoint(tablet){
    .article-title{
     @include font-size(1.6);
      padding-bottom:5px;
    }
    .moretag{
     display: none;
    }
    a{
      padding: 1rem 1rem 1rem 3rem;
    }
  }

  @include breakpoint(laptop){
    @include transition(background .3s);
    .article-title{
      @include transition(all .3s);
      @include font-size(2.8);
      line-height: 32px;
      line-height: 3.2rem;
      font-weight: 500;
      padding-bottom:5px;
    }
    a{
      padding: 3rem 2rem 3rem 6rem;
    }
    &:hover{
      background: $lighter-grey-hover;
      .article-title {
        color: $dark-green;
      }
    }
  }
}

.blog-feature-meta {
  @include font-size(1.4);
  color: $light-grey;

  span {
    padding-right: 15px;
  }

  i {
    padding-right: 5px;
  }

  .blog-meta-comments{
  }

  @include breakpoint(tablet){
      @include font-size(1.2);
  }
  @include breakpoint(laptop){
    @include font-size(1.4);
  }
}