/*------------------------------------*\
    dhvc plugin
\*------------------------------------*/
.dhvc-form-flat .dhvc-form-checkbox i {
  background: #e5e5e5 !important;
  border-color: transparent !important;
}

.dhvc-form-flat .dhvc-form-checkbox input:checked + i{
  background: transparent !important;
}
.dhvc-form-submit {
  border-radius: 50px !important;
}

.dhvc-form-container {
  form {
    padding: 0;
  }
}

.dhvc-form-hidden{
  z-index: 1;
}

// Ratings stars
.dhvc-form-flat .dhvc-form-rate {
  float: left !important;
}

// Icons for date and time
.dhvc-form-group .dhvc-form-add-on {
  left: 0 !important;
}

.dhvc-form-input.dhvc-form-has-add-on  .dhvc-form-control {
 padding-left: 3rem !important;
}

.dhvc_form_text, .dhvc_form_email, .dhvc_form_textarea, .dhvc_form_captcha {
  padding-bottom: 20px !important;
}

// Form message
.dhvc-form-message {
  text-align: center;
}
.dhvc-form-hidden{
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 3;
  padding: 20px 0 !important;
  @include transition(all .3s);
  text-align: center;
  @include font-size(2.4);
  color: $white;

  &.dhvc-form-show{
    height: 75px;
    top: 50%;
    @include transform(translateY(-50%));
    opacity: 1;
    background: rgba(120, 190, 1, 0.81);
  }
}


.input-mail {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  float: none;

  input {
    @include transition(all .3s);
    background: lighten($lightest-grey, 7%);
    color: $grey;
    padding-left: 2rem;
    @include placeholder($grey);
    border: none;

  }
  .ajax-loader{
    display: none;
  }

  .icon {
    z-index: $content;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    right: 0;
    width: 65px;
    height: 42px;
    background: $primary-color;
    border-radius: 50px;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateY(-50%)translateX(-50%));
    color: $white;
  }

  input[type="submit"] {
    @include transition(all .3s);
    width: 65px !important;
    height: 42px;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: 500%;
    overflow: hidden;
    z-index: $above-content;

    &:hover{
      background: transparent !important;
    }
  }

  footer & {
    input {
      background: $dark-grey;
    }
  }
}
