/*------------------------------------*\
    HERO HEADER LAYOUT
\*------------------------------------*/

.hero {
  @include transform(translateZ(0));
  background: rgba(34, 34, 40, 1);
  position: relative;

  @include breakpoint(tablet){
    opacity: 1;
  }

  svg {
    @include transition(all .3s);
    @include transform(translateZ(0));
    position: absolute;
    left:0;
    height: auto;
    bottom: 0;
    width: 100%;
    transform: translate3d(0, 40px, 0);
    z-index: $content;
    opacity: 1;
  }

  .divider-path {
    fill: $white;
    width:100%;
  }

  &.no-image{
    background: $primary-color;
  }
}

.hero-background {
  @include transition( all .4s);
  min-height: 300px;
  background-size: cover;
  background-position: center;
  opacity: .7;

  @include breakpoint(tablet){
    min-height: 350px;
  }
  @include breakpoint(laptop){
    min-height: 350px;
  }

  .single-post & {
    @include breakpoint(tablet){
      min-height: 450px;
    }
    @include breakpoint(laptop){
      min-height: 450px;
    }
  }

  .error404 & {
    @include breakpoint(tablet){
      min-height: 600px;
    }
    @include breakpoint(laptop){
      min-height: 600px;
    }
  }
}

.hero-wrapper {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  width: 100%;
}

.hero-content {
  max-width: 1037px;
  margin: 0 auto;
  text-align: center;

  img{
    margin: 0 auto;
    width: 100px;
    @include breakpoint(tablet){
        width: 150px;
    }
    @include breakpoint(laptop){
        width: 200px;
    }
  }
}

.hero-title{
  padding: 0 3rem;
  @include font-size(2.4);
  line-height: 24px;
  line-height: 3.6rem;
  font-weight: 900;
  color: $white;
  -ms-word-wrap: break-word;
  word-wrap: break-word;

  @include breakpoint(tablet){
    @include font-size(5.6);
    line-height: 56px;
    line-height: 5.6rem;
    padding-bottom: 2.4rem;
  }

  @include breakpoint(laptop){
    @include font-size(6.2);
    line-height: 74px;
    line-height: 7.4rem;
    //padding-bottom: 2.4rem;
    padding-bottom: 1rem;
  }
}

.hero-subtitle {
  padding-top: 1rem;
  @include breakpoint(tablet){
      padding-top: 0;
  }
}

.post-time, .post-comments-count {
  @include font-size(1.3);
  color: $white;
  padding-right: 2rem;
  i{
    padding-right: 1rem;
  }

}

.post-comments-count {
  padding-left: 2rem;
  padding-right: 0;
}