/*------------------------------------*\
    PROCESS COMPONENT
\*------------------------------------*/

.process-container{
  display: table;
  width: 100%;

  .wpb_content_element{
    display: none;
    @include breakpoint(tablet){
      display: block;
    }
  }
  img{
    max-width: 350px !important;
    @include breakpoint(tablet){
      max-width: 215px !important;
    }
    @include breakpoint(laptop){
      max-width: 300px !important;
    }

    @include transition(all .3s .8s);
    @include transform(scale(0));
    opacity: 0 !important;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    animation-delay: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &.in{
      -webkit-animation-name: bounceIn;
      animation-name: bounceIn;
      opacity: 1!important;
    }
  }

}

.process-item-container{
  h6 {
    @include font-size(1.6);
    line-height: 1.8rem;
    line-height: 18px;
    font-weight: 600;
    @include breakpoint(tablet){
      @include font-size(1.2);
      line-height: 1.2rem;
      line-height: 12px;
    }
    @include breakpoint(laptop){
      @include font-size(1.6);
      line-height: 1.6rem;
      line-height: 16px;
    }
  }
  span{
    padding-right: 10px;
  }
  p {
    @include breakpoint(tablet){
      @include font-size(1.4);
      line-height: 1.8rem;
      line-height: 18px;
    }
    @include breakpoint(laptop){
      @include font-size(1.6);
      line-height: 2.4rem;
      line-height: 24px;
    }
  }

  // All
  .process-item-inner{
    @include transform(translateY(40px));
  }


  //First
  @include first(1){
    @include breakpoint(tablet){
      text-align: right;
      .process-item-inner{
        position: relative;
        top: 100px;
        left: 0;
        @include transition(all .3s);
        opacity: 0;

        &.in{
          @include transform(translateY(0));
          opacity: 1;
        }

      }
    }
  }

  //second & 5
  @include from-end(6){
    @include breakpoint(tablet){
      text-align: center;
      .process-item-inner {
        @include transition(all .3s .2s);
        opacity: 0;

        &.in{
          @include transform(translateY(0));
          opacity: 1;
        }
      }
    }
  }
  //thrid
  @include from-end(5){
    @include breakpoint(tablet){
      text-align: left;
      .process-item-inner{
        position: relative;
        top:100px;
        left:0;
        @include transition(all .3s .3s);
        opacity: 0;

        &.in{
          @include transform(translateY(0));
          opacity: 1;
        }
      }
    }
  }

  //4th
  @include from-end(3){
    @include breakpoint(tablet){
      text-align: right;
      .process-item-inner{
        position: relative;
        top:-100px;
        left:0;
        @include transition(all .3s .4s);
        opacity: 0;

        &.in{
          @include transform(translateY(0));
          opacity: 1;
        }
      }
    }
  }

  //5th
  @include from-end(2){
    @include breakpoint(tablet){
      text-align: center;
      .process-item-inner {
        @include transition(all .3s .5s);
        opacity: 0;

        &.in{
          @include transform(translateY(0));
          opacity: 1;
        }
      }
    }
  }

  // 6th - last
  @include last(1){
    @include breakpoint(tablet){
      text-align: left;
      .process-item-inner{
        position: relative;
        top:-100px;
        left:0;
        @include transition(all .3s .6s);
        opacity: 0;

        &.in{
          @include transform(translateY(0));
          opacity: 1;
        }
      }
    }
  }
}


// Styles for layouts with a sidebar
.sidebar-content {

  .process-container {
    display: table;
    width: 100%;

    img {
      max-width: 350px !important;
      @include breakpoint(tablet) {
        max-width: 215px !important;
      }
    }
  }

  .process-item-container{
    position: relative;

    h6 {
      @include font-size(1.6);
      line-height: 1.8rem;
      line-height: 18px;
      font-weight: 600;
      @include breakpoint(tablet){
        display: inline-block;
        position: relative;
        padding-left: 25px;
        @include font-size(1.4);
        line-height: 18px;
        line-height: 1.8rem;
      }
    }

    span {
      @include breakpoint(tablet){
        left: 0;
        position: absolute;
      }
    }

    p {

      @include breakpoint(tablet) {
        @include font-size(1.4);
        line-height: 1.8rem;
        line-height: 18px;
      }

      @include breakpoint(laptop){
        @include font-size(1.6);
        line-height: 24px;
        line-height: 2.4rem;
      }

    }

  }

}