/*------------------------------------*\
    SEARCH
\*------------------------------------*/

.super-search {

  .neat-search {
    top: 25%;
    position: absolute;
    @include transform(translateY(-20%) translateX(-50%));
    width: 80%;
    left: 50%;
    opacity: 0;

    &::before {
      content: none;
    }

    label {
      display: none;
    }

    .search-field {
      background: transparent;
      border: 2px solid $grey;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      width: 100%;
      @include font-size(8.4);
      @include transition(all .3s);
      color: $black;
      padding: 0;
      font-weight: 300;
      border-radius:0;

      &:focus {
        border-color: $primary-color;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      &:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

.neat-close, .super-search-close {
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 100%;
  top: 5px;
  width: 50px;
  z-index: $above-content;

  a{
    height: 50px;
    width: 50px;
    display: block;
  }

  &::before, &::after {
    background-color: $white;
    content: '';
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 2px;
  }

  &::before {
    @include transform(translateX(-50%)translateY(-50%)rotate(-45deg));
  }

  &::after {
    @include transform(translateX(-50%)translateY(-50%)rotate(45deg));
  }

  .super-search & {
    right: 3%;
    top: 6%;
    opacity: 0;
    cursor: pointer;
    background: rgba(84, 84, 84, 0);

    &::before, &::after {
      height: 65px;
    }
  }

  @include breakpoint(laptop){
    #header & {
      display: none;
    }
  }
}

.super-search-close{
  &::before, &::after {
    background: $black;
  }
}

.super-search {
  position: absolute;
  visibility: hidden;
  background: $white;
  z-index: -1;
  opacity: 0;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  @include breakpoint(tablet){
    height:70px;
    width:70px;
  }
}

// Results
// Article Results found in layout/_blog-home.scss
.search-container{
  padding: 0;

  h2 {
    font-weight: 400;
    color: $white;
    @include font-size(6.2);
    span {
      padding-left: 7px;
      font-weight: 600;
      color: $black;
    }
  }
}

// No Results
.neat-no-results {
  h2 {
    color: $black;
    @include font-size(2.4);
    text-align: center;
  }
}

.new-search {
  width: 100%;
  margin: 0 auto;
}

.new-search-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  label {
    @include font-size(1.3);
    text-transform: uppercase;
  }
}