.showcase {
  background: #424242;
  @include breakpoint(laptop){
    padding: 5rem;
  }
}

.showcase__outer--bgimage {
  background-size: 0;

  @include breakpoint(tablet){
    background-size: cover;
  }

  @include breakpoint(laptop){
    max-width: 1030px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.68);
    box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.68);
  }

}

.showcase__outer--bgcolor {

  @include breakpoint(tablet){
    padding: 5rem;
  }

  @include breakpoint(laptop){
    padding: 0 5% 0 15%;
  }

}

.showcase__inner{
  background: $white;
  padding: 60px 20px 20px;

  @include breakpoint(tablet){
    padding: 130px 20px 15px;
    position: relative;
    background: $white;
    -webkit-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
    box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
  }

  @include breakpoint(laptop){
    padding: 90px 30px 15px;
  }

  // Small icon
  &::before {
    content: 'Showcase';
    background: url("./assets/images/showcase-arrow.png")no-repeat ;
    position: absolute;
    background-position: center;
    background-size: contain;
    top: 0;
    left: 50%;
    @include transform(translateX(-50%));
    height: 35px;
    padding-top: 34px;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(tablet){
      left: 30px;
      height: 50px;
      padding-top: 50px;
      @include transform(translateX(0));
    }
    @include breakpoint(laptop){
      height: 30px;
      padding-top: 35px;
      @include font-size(1.2);
    }
  }
  
}

.showcase__slider--content{
  padding-top: 30px;

  @include breakpoint(laptop){
    padding-top: 0;
  }
}

.showcase__thumbs {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;

  @include breakpoint(tablet){
    display: block;
  }

  @include breakpoint(laptop){
    
  }

  // element wrapper
  ul{
    padding: 0;
    margin: 0 auto;
    position: relative;
    @include transition( all .3s);
    @include transform(translateX(0));
  }

  // each item
  li{
    list-style: none;
    display: inline-block;
    @include transform(scale(.7));
    @include transition(.3s);
    opacity: .7;

    @include first(1){
      padding-left: 0;
    }

    @include last(1){
      padding-right: 0;
    }

    // Active Element
    &.selected{
      position: relative;
      opacity: 1;
      @include transform(scale(1));

      a{
        border: 4px solid $primary-color;
      }

    }

  }

  a{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
  }

}

.showcase__slider--gallery {
  -webkit-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.68);
  box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.68);

  @include breakpoint(tablet){
    max-width: 400px;
    margin: 0 auto;
  }

  @include breakpoint(laptop){
    max-width: 450px;
    margin: 0;
  }

}

.showcase__nav {

  li {
    left: 0;

    @include last(1) {
      right: 0;
      left: auto;
    }

    a {
      height: 62px;
      background: url("./assets/images/slider-arrow-green.png")no-repeat;
      background-position: center;

      @include breakpoint(tablet){
        background-position: center;
        background: url("./assets/images/slider-arrow-green.png")no-repeat;
      }

    }

  }



}

.showcase__slider--wrapper{
  position: relative;

  @include breakpoint(laptop){
    display: inline-block;
    left: -100px;
  }

}

.showcase__desc {
  position: relative;
  z-index: $content;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 15px 0 0;
  
  @include breakpoint(tablet){
      padding: 0;
  }
}

.showcase__desc--item{
  position: absolute;
  top: 0;
  left: 0;
  z-index: $content;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  @include transform(translateX(100%)translateZ(0));
  @include transition( transform .3s cubic-bezier(0.860, 0.000, 0.070, 1.000));

  @include breakpoint(tablet){
   padding: 40px 20px 30px;
  }

  @include breakpoint(laptop){
    text-align: left;
    padding: 15px 20px 30px 20px;
    width: 70%;
  }

  &.selected {
    position: relative;
    z-index: 2;
    @include transform(translateX(0)translateZ(0));
  }

  &.left{
    @include transform(translateX(-100%)translateZ(0));
  }

  h2{
    @include font-size(2.4);
    line-height: 32px;
    line-height: 3.2rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: $dark-blue-grey;

    @include breakpoint(tablet){
        @include font-size(3.6);
        padding-bottom: 20px;
        font-weight: 600;
    }
  }

  .cats{
    a {
      color: $primary-color;
      padding: 0 5px;
      text-transform: uppercase;
      @include font-size(1.2);
      font-weight: 600;
    }
  }

}
