/*------------------------------------*\
    TESTIMONIALS
\*------------------------------------*/

.testimonials {
  max-width: 1030px;
  margin: 0 auto;
  @include transition(all .3s);

  .carousel-inner {
    @include transition(all .3s);
  }

  .control-wrapper {
    position: absolute;
    top: 90%;
    left: 50%;
    @include transform(translateX(-50%)translateY(-90%));
    width: 120px;
    z-index: $above-content;

    @include breakpoint(laptop){
        width: 70px;
    }
  }

  .control-inner {
    width: 100%;
    display: table;
    position: relative;
    text-align: center;
    border-radius: 25px;
    background: #fff;
    padding: 5px;
  }

  .carousel-control{
    background-image: none;
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 28px;
    opacity: 1;
    padding-top: 3px;
    text-shadow: none;
    cursor: pointer;

    @include breakpoint(laptop){
      width: 50%;
      height: 20px;
    }
  }

  i{
    color: $black;
    display: block;

    @include breakpoint(laptop){
      @include font-size(1.5);
    }
  }

  .item {
    height: 100%;
    width: 100%;
    background-size: cover;
  }

}


/*------------------------------------*\
    TESTIMONIAL ITEM
\*------------------------------------*/
.testimonial-color-block {
  position: absolute;
  height:100%;
  width: 50%;
  top: 0;
  left: 0;
  display: block;
  opacity: .9;

  &::before{
    content:'';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: auto;
    right: -100%;
    background-image: linear-gradient(to right, #8ed72b 0, rgba(142, 215, 43, 0.1) 100%);
  }

  @include breakpoint(tablet){
    width: 50%;

    &::before{
      height: 100%;
      left: auto;
      background-image: linear-gradient(to right,rgba(142, 215, 43,1) 0,rgba(142, 215, 43,.0001) 100%);
    }
  }
}

.testimonial-item {
  height: 100%;
  width: 100%;
  position: relative;
  //display: table;

  // Small icon
  &::before {
    content: '';
    background: url("./assets/images/showcase-arrow-white.png")no-repeat ;
    position: absolute;
    background-position: center;
    background-size: contain;
    top: 0;
    color: $black;
    left: 50%;
    @include transform(translateX(-50%));
    height: 35px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    z-index: $above-content;

    @include breakpoint(tablet){
      left: 30px;
      width: 50px;
      @include font-size(5);

      @include transform(translateX(0));
    }
    @include breakpoint(laptop){
      height: 40px;
      left: 60px;
    }
  }

  blockquote {
    border: none;
    @include font-size(2);
    margin: 0;
    padding: 5rem 3.5rem 10rem;
    color: $white;
    z-index: $content;
    position: relative;

    @include breakpoint(tablet){
        @include font-size(3.2);
        line-height: 4px;
        line-height: 4rem;
        padding: 5.4rem 20% 12rem 3.4rem;
    }

    @include breakpoint(laptop){
      padding: 6rem 30% 11rem 6rem;
    }
  }

  cite {
    padding-top: 2.4rem;
    display: block;
    @include font-size(1.4);
    color: $black;

    @include breakpoint(tablet){
        @include font-size(1.8);
    }
  }
}

