/*------------------------------------*\
    FEATURE SQUARE OFFSET TABS
\*------------------------------------*/

.blade-feature-tabs-offset{
  .vc_tta-container{
    margin:0;
  }

  @include breakpoint(tablet){
    // Button On state
    .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a {
      color: $white !important;
      background-color: $primary-color !important;
      font-weight: 600;
    }

    // Remove Border all tabs
    .vc_tta.vc_tta-style-classic .vc_tta-tab>a {
      border-width: 0px!important;
    }

    // General Styling for tabs
    .vc_tta.vc_general .vc_tta-tab>a {
      font-weight: 600;
      @include font-size(1.5);
      padding: 2rem !important;
    }

    .vc_tta.vc_general{
      text-align: center;
      position: relative;
    }

    // Tabs DIV Container
    .vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container {
      display: inline-block;
      position: relative;
      top: 0;
      left: 50%;
      width: 100%;
      overflow: visible;
      @include transform(translateX(-50%));
    }

    // Tabs UL Container
    .vc_tta.vc_tta-style-classic .vc_tta-tabs-list {
      overflow: visible;
      display: inline-block;
      padding: 0;
      background: transparent;
    }

    // Tabs LI
    .vc_tta.vc_tta-style-classic .vc_tta-tab{
      margin: 0;
    }

    .vc_tta-tab {
      .vc_tta-icon {
        color: $primary-color;
      }
    }

    .vc_tta-tab.vc_active {
      -webkit-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
      -moz-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
      box-shadow: 0px 18px 94px -16px rgba(0,0,0,0.38);
      .vc_tta-icon {
        color: $white;
      }
    }

    // Tab BG
    .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels{
      background-color: transparent !important;
    }
    .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a{
      background-color: transparent;

      &:hover{
        background-color: $lightest-grey;

      }
    }

    .vc_tta-icon.vc_li{
      font-size: 2.3rem !important;
    }

    // Content Container inner
    .vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panel {
      margin: 0;
    }
    // Content area
    .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
      border: none;
      padding-top: 40px;
    }

    .vc_tta-tab{
      span{
        padding-top: 10px;
        display: block;
      }
      .vc_tta-title-text{
        margin:0 !important;
      }
    }
  }

  @include breakpoint(laptop){

    // Tabs LI
    .vc_tta.vc_tta-style-classic .vc_tta-tab{
      min-width: 165px;
      width: auto;
      margin: 0;
    }

    // General Styling for tabs
    .vc_tta.vc_general .vc_tta-tab>a {
      @include font-size(1.8);
      padding: 4rem 2rem !important;
    }
  }
}