/*------------------------------------*\
    SHOWCASE SLIDER
\*------------------------------------*/

.showcase {
  margin-bottom: -1px;
}

.showcase__outer--bgimage {
  background-size: 0;
  opacity: 0;

  @include breakpoint(laptopmax){
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }


  @include breakpoint(laptop){
    background-size: cover;
    max-width: 1030px;
    margin: 0 auto;
  }

}

.showcase__outer--bgcolor {

  @include breakpoint(tablet){
    //padding: 5rem 3.6rem;
  }

  @include breakpoint(laptop){
    padding: 0 5% 0 15%;
  }

}

.showcase__inner{
  background: $white;
  overflow: hidden;
  position: relative;

  @include breakpoint(tablet){
    background: $white;
    margin: 0;
  }

  @include breakpoint(laptop){
    padding: 0;
    overflow: visible;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }

}

.showcase__slider--content{
  @include transform(translateZ(0));
  @include transition(all .3s);
  padding: 80px 20px 20px;

  @include breakpoint(tablet){
    padding: 140px 20px 20px;
  }

  @include breakpoint(laptop){
    position: relative;
    padding-top: 0;
  }

  .count{
    font-weight: 900;
    border: none;
    @include font-size(1.3);

    @include breakpoint(tablet){
        top: .5rem;
        right: auto;
        left: 4.1rem
    }

    @include breakpoint(laptop){
      top: 1px;
      left: 3.1rem
    }
  }
}

.showcase__thumbs {
  display: none;
  @include breakpoint(tablet){
    display: block;
    position: absolute;
    right: 25px;
    left: 0;
    width:100%;
    height:76px;
    top: 25px;
    z-index:$content;
    opacity: 0;
    will-change: opacity;
    z-index: $above-content;
  }

  @include breakpoint(laptop){
    height: 100%;
    width: 150px;
    top: 50%;
    left: auto;
    @include transform(translateY(-50%));
  }

  .gradient-top, .gradient-bottom{

    @include breakpoint(laptop){
      height: 30px;
      width: 100%;
      position: absolute;
      left: auto;
      right: 0;
      z-index: $content;
    }

  }

  .gradient-top {
    @include breakpoint(laptop){
      top: -1px;
      background-image: linear-gradient( #fff 0, rgba(255, 255, 255, 0) 100%);
    }

  }

  .gradient-bottom{
    @include breakpoint(laptop){
      background-image: linear-gradient( to top, #fff 0, rgba(255, 255, 255, 0) 100%);
      bottom: -1px;
    }

  }
  .showcase__thumbs--inner{
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    z-index:$above-content;

    @include breakpoint(tablet){
      display: block;
      height: 76px;
      width: 300px;
      right: 25px;
      position: absolute;
    }

    @include breakpoint(laptop){
      right: 0;
      //height: 475px;
      //height: 375px;
      height: 540px;
      width: 150px;
      margin: auto 0;
      padding: 20px 0;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  // element wrapper
  .showcase__thumbs--images{
    padding: 0;
    margin: 0 auto;
    position: relative;
    @include transition( all .3s);
    @include transform(translateX(0) translateZ(0));

    // each item
    li{
      list-style: none;
      display: inline-block;
      opacity: .5;

      @include breakpoint(tablet){
          display: table-cell;
          padding-right: 5px;
      }

      @include breakpoint(laptop){
        display: block;
        padding-right: 0;
        padding-bottom: 20px;
      }

      @include first(1){
        padding-left: 0;
        @include breakpoint(laptop){
          padding-bottom: 20px;
        }
      }

      @include last(1){
        padding-right: 0;
      }

      // Active Element
      &.selected{
        position: relative;
        opacity: 1;

        a{
          border: 4px solid $primary-color;
          background: $primary-color;
          @include breakpoint(laptop){
            border: 6px solid $primary-color;
            font-weight: 600;
          }
        }

        span {
          padding-top: 10px;
        }

      }

    }

    img{
      border-radius: 50%;
    }

    a{
      cursor: pointer;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      transition: all .2s;

      @include breakpoint(laptop){
        display: block;
        width: 110px;
        height: 110px;
      }
    }

    span{
      display: none;
      color: $dark-blue-grey;
      @include breakpoint(laptop){
        display: block;
        padding-top: 5px;
      }
    }
  }

}

.showcase__thumbsnav{
  display: none;

  @include breakpoint(laptop){
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    z-index: $content;
    top: 0;


    li{
      opacity: 1;
      display: none;
      position: absolute;
      top: -22px;
      left: 50%;
      @include transform(translateX(-50%));
      list-style: none;
      visibility: visible;

      @include last(1){
        bottom: -20px;
        top: auto;

        a{
          @include transform(rotate(90deg));
        }

        i{
          top: 52%;
          left: 55%;
          @include transform(translateX(-55%) translateY(-52%));
        }
      }
    }

    a{
      background-color: $primary-color;
      @include transform(rotate(-90deg));
      position: relative;
      display: block;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      @include transition(box-shadow .3s);

    }

    i{
      color: $white;
      position: absolute;
      top: 53%;
      left: 54%;
      @include transform(translateX(-53%) translateY(-54%));
    }
  }
}

.showcase__tab{
  position: absolute;
  top: 0;
  width: 80px;
  text-align: center;
  left: 50%;
  @include transform(translateX(-50%));

  @include breakpoint(tablet){
    left: 33px;
    @include transform(translateX(0));
  }

  @include breakpoint(laptop){
      left:23px;
  }

  .showcase__tab--img{
    width: 60px;
    margin: 0 auto;
  }

  span{
    text-align: center;
    text-transform: uppercase;
    color: $grey;
    @include font-size(1.2);
  }
}

.showcase__slider--gallery {
  cursor: default;
  -webkit-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0);
  -moz-box-shadow: 0px 18px 94px -16px rgba(0,0,0,0);
  box-shadow: 0px 18px 94px -16px rgba(0,0,0,0);
  @include transform("");

  @include breakpoint(tablet){
    max-width: 400px;
    margin: 0 auto;
  }

  @include breakpoint(laptop){
    //overflow: hidden;
    min-height: 281.25px;
    max-width: 525px;
    margin: 0;
    &:before, &:after{
      opacity: 0 !important;
      animation: none;

    }
  }

  li {
    opacity: 0;
    @include transition(all .3s );

    &.selected{
      opacity: 1;
    }
  }

}

.showcase__nav {

  li {
    left: 0;

    @include last(1) {
      right: 0;
      left: auto;
    }

    a {
      height: 62px;
      background: url("./assets/images/slider-arrow.png")no-repeat;
      background-position: center;

      @include breakpoint(tablet){
        background-position: center;
        background: url("./assets/images/slider-arrow-green.png")no-repeat;
      }

    }

  }

}

.showcase__items--container {
  @include transition(all .3s);
  @include breakpoint(laptop){
    padding: 80px 30px 15px;
    z-index: $below-content;
  }
}

.showcase__item {
  @include transition(all .3s);
  display: table;
  width: 100%;
}

.showcase__slider--wrapper{
  position: relative;

  @include breakpoint(laptop){
    display: inline-block;
    left: -100px;
  }

}

.showcase__desc {
  position: relative;
  z-index: $below-content;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 15px 0 0;
  height: 269px; //initial mobile height
  @include transform(translateZ(0));
  @include transition(all .3s);

  @include breakpoint(tablet){
    padding: 0;
  }
  @include breakpoint(laptop){
    height: auto;
    min-height: 179px;
  }
}

.showcase__desc--item{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: $content;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  @include transform(translateY(100%)translateZ(0));
  @include transition( all .3s cubic-bezier(0.860, 0.000, 0.070, 1.000));

  @include breakpoint(tablet){
    padding: 40px 20px 30px;
  }

  @include breakpoint(laptop){
    text-align: left;
    padding: 15px 20px 30px 20px;
    width: 80%;
  }

  &.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    @include transform(translateY(0)translateZ(0));
  }

  &.left{
    @include transform(translateY(-100%)translateZ(0));
  }

  h2{
    @include font-size(2.8);
    line-height: 32px;
    line-height: 3.2rem;
    padding-bottom: 20px;
    padding-top: 10px;
    color: $dark-blue-grey;

    @include breakpoint(tablet){
      @include font-size(3.6);
      padding-bottom: 20px;
      font-weight: 600;
    }
  }

  .cats{
    a {
      color: $primary-color;
      padding: 0 5px;
      text-transform: uppercase;
      @include font-size(1.2);
      font-weight: 600;
    }
  }

}
