
[data-name="custom_url"] {
    /* Styles */
    clear:none !important;
    border-left:1px solid #eeeeee !important;
}
.update-nag{
    display: block;
}
.redux-dev-mode-notice-container.redux-dev-qtip { display: none; }
.redux-main .redux-option-image{ max-width: 200px; }
.redux-group-tab h2{ font-size: 20px;}
.redux-main .form-table tr{ border-bottom:none; }
.redux-notice-field{
    margin: 25px 0 0;
    background: none;
    border-left:none;
    padding: 0;
}
.redux-container .redux-group-tab h3{
    font-size: 20px;
}
.redux-main .form-table{
    margin-left:15px;
    max-width: 1100px;
    width: 97%;
}

.redux-sidebar .redux-group-menu li a{

}

.redux-sidebar .redux-group-menu li a i{
    color:#0073aa;
}

.redux-sidebar .redux-group-menu li a .fa.fa-lg{
    font-size: 1.5em;
    margin-top:2px;
}
.redux-sidebar .redux-group-menu li a .el{
    font-size: 1.35em;
}
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3:hover,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3:hover,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3:focus,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3:focus{
    color:#23282d !important;
    background: #f5f5f5 !important;
}
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3:hover:after,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3:hover:after,
.admin-color-fresh #customize-theme-controls .control-section.control-section-redux h3:focus:after,
.admin-color-fresh #customize-theme-controls .control-panel.control-panel-redux h3:focus:after{
    color:#23282d !important;
}

.widget-color-picker {
    display: block;
}

/*------------------------------------*\
  VC Core Admin
\*------------------------------------*/
.hide_in_vc_editor {
    display: none;
}

.edit_form_line {
    position: relative;
    display: block;
}

.edit_form_line .search {
    float: right;
    position: absolute;
    width: 50%;
    top: 12px;
    right: 0;
}

#icon-dropdown {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.icon-preview {
    display: table;
}

.icon-preview label {
    display: table-cell;
}

.icon-preview i {
    padding: 1rem;
}
#icon-dropdown {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 20px 0;
    margin: 20px 0;
}

#icon-dropdown li{
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    margin-bottom:0;
}

#icon-dropdown li:hover{
    background: #eee;
}

#icon-dropdown label{
    display: none;
}

#icon-dropdown li.selected{
    background: #eee;
}

#icon-dropdown li.selected i{
    color: #000;
}

div[data-vc-shortcode="showcase"] .vc_checkbox-label{
    display: block;
    float: left;
    padding-right: 10px;
    padding-bottom: 15px;
}

div[data-vc-shortcode="showcase"] .vc_checkbox-label:nth-child(4){
    clear: both;
}

div[data-vc-shortcode="showcase"] .vc_checkbox-label input:focus {
    box-shadow: none;
    border-color: #b4b9be;
}

div[data-vc-shortcode="showcase"] .vc_checkbox-label input:checked {
    border-color: #03a9f4;
}

/*
Custom VC Admin Icons
*/
.dual_images.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 0;
}
.process_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -32px !important;
}
.process_item_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -64px;
}
.team_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -96px !important;
}
.header_slider_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -128px !important;
}
.faq_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -160px !important;
}
.faq_item_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -192px;
}
.hero_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -224px;
}
.desc_offset_icon.vc_element-icon {
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -256px !important;
}

.showcase_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -288px;
}

.testimonials_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -320px !important;
}

.testimonials_item_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -352px !important;
}

.blog_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -384px;
}

.quote_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -416px !important;
}

.quote_item_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -448px !important;
}
.quote_bullet_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -480px;
}
.inline_block_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -512px;
}
.single_quote_item_icon.vc_element-icon{
    background-image: url("../../images/theme_options/icons/sprout_icons.png");
    background-position: 0 -544px;
}
.vc_btn3 {
    padding: 11px 23px 11px 23px !important;
    text-transform: uppercase !important;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 600 !important; }
.vc_btn3.vc_btn3-icon-left i {
    padding-right: 12px !important;
    left: 0 !important;
    display: inline !important;
    position: relative !important; }
.vc_btn3.vc_btn3-icon-right i {
    padding-left: 12px !important;
    right: 0 !important;
    display: inline !important;
    position: relative !important; }

.vc_btn3-color-green {
    color: #78be01 !important; }
.vc_btn3-color-green:hover {
    color: #fff !important;
    background-color: #78be01 !important; }
.vc_btn3-color-green.vc_btn3-style-outline {
    border-color: #78be01 !important; }

.btn-sm {
    font-size: 10px;
    font-size: 1rem;
    padding: 7px 25px 7px 25px !important; }